{% extends 'parts/base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

<!-- header  -->
{% block header %}
<header>
    <!--    header navbar    -->
    <nav class="navbar navbar-expand-md ">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""><i class="fas fa-bars navbar-icon"></i> </span>
        </button>

        <a class="navbar-brand " href="{% url 'home' %}">
            <img class="img-fluid " src="{% static 'image/logo.png' %}" alt="logo">
        </a>
    </nav>
</header>
{% endblock %}

{# content section #}
{% block content %}
<div class="form login">
    <div class="form-content">
        <div class="line"></div>
        <header>Sign In</header>
        <form class="form-signin" method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="field input-field">
                <input type="text" id="username" name="username" class="form-control" placeholder="Enter username"
                       required
                       autofocus>
            </div>

            <div class="field input-field">
                <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                       required>
            </div>

            <div class="form-link">
                <a href="#" class="forgot-pass"> Forgot password </a>
                <i class="bx bx-hide eye-icon"></i>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>

            <div class="form-link">
                <span> Already Have an Account? <a href="{% url 'register' %}"> Sign Up </a></span>
            </div>

            {% if form.errors %}
            <br>
            <p>Your username and password didn't match. Please try again.</p>
            {% endif %}
        </form>
    </div>
</div>
{% endblock %}
